.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}
.startImg{
    margin-bottom: 5px;
}
.name{
    color:#262626;
    font-family: sans-serif;
    width:240px;
    margin-bottom: 20px;
}
.noMore{
    background-color: #ffc900;
    color: #fff;
}
.favorite{
    margin:5px;
}
.header{
    background-color: #dddddd;
    opacity: 0.8;
}
.center{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
}